@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap');

$main-font: 'Domine',
serif;
$second-font: Helvetica,
Arial,
sans-serif;
$main-color: #00DEBC;
$second-color: #FFB7A2;
$third-color: #F7FE66
